:host {
  .app-content {
    @apply
      bg-zinc-400
      h-screen
      pb-16
      pt-8
      px-8;
  }

  .app-main {
    background-image: url('/assets/images/login-layout-bg.webp');
    background-position-y: center;
    background-repeat: no-repeat;

    @apply
      flex
      h-full
      items-center
      overflow-hidden
      pl-[460px]
      rounded-xl
    bg-white
    drop-shadow-lg
    inset-shadow-2xl;
  }
}
