<div class="w-md px-10">
  <h1 class="text-3xl font-bold">Sign in to Admin</h1>
  <form class="mt-15 flex flex-col gap-8 grow">
    <div class="flex flex-col gap-1">
      <label class="font-bold" for="email">Email:</label>
      <input
        class="border-1 border-zinc-200 inline-block focus:border-purple-400 focus:outline-4 h-14 transition-all outline-0 hover:outline-4 outline-solid outline-purple-100 px-3 rounded-lg rounded w-full"
        type="text"
        id="email"
        name="email"
        [(ngModel)]="email"
        required
      >
    </div>
    <div class="flex flex-col gap-1">
      <label class="font-bold" for="password">Password:</label>
      <input
        class="border-1 border-zinc-200 inline-block focus:border-purple-400 focus:outline-4 h-14 transition-all outline-0 hover:outline-4 outline-solid outline-purple-100 px-3 rounded-lg rounded w-full"
        type="password"
        id="password"
        name="password"
        [(ngModel)]="password"
        required
      >
    </div>
    <button class="bg-black c-white cursor-pointer h-14 hover:bg-zinc-600 rounded-4xl" type="submit" (click)="signin()">Sign In</button>
    <p class="text-center">Don't have an account? <a routerLink="/signup" class="font-bold underline">Sign up</a></p>
  </form>
</div>
